<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"
        integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="/stock.png" alt="Stock Movement Icon" width="80" height="80" class="d-inline-block align-top"></a>
      
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <h3>
                    <a class="nav-link active" href="/">Web3 kickstart</a>
                </h3>
              </li>
            </ul>
            <h3>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.name %>
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/login">Exit</a>
                  <a class="dropdown-item" href="/profile">Profile</a>
                </div>
              </li>
            </ul>
        </h3>
          </div>
        </div>
      </nav>


      <div class="container mt-5">
        <h2 class="text-center">Donate to companies!</h2>
        <div class="row">
            <% companyCards.forEach((company, index) => { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="data:image/png;base64,<%= company.photo.toString('base64') %>" class="card-img-top" alt="Company Photo">
                        <div class="card-body">
                            <h5 class="card-title"><%= company.companyName %></h5>
                            <p class="card-text"><%= company.description %></p>
                            <p class="card-text"><small class="text-muted">Creation Date: <%= company.creationDate %></small></p>
                            <hr>
                            <div class="goal-container">
                                <p class="goal-label"><strong>Company Goal:</strong></p>
                                <p class="company-goal display-4"><%= company.companyGoal %> ETH</p>
                            </div>
                            <a href="/card/<%= company._id %>" class="btn btn-success">View Details</a>
                        </div>
                    </div>
                </div>
                <% if ((index + 1) % 3 === 0) { %>
                    </div><div class="row">
                <% } %>
            <% }); %>
        </div>
    </div>
    
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>